.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px auto 24px;
}

@media screen and (max-width:767px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    margin: 92px 16px 24px;
  }
}